@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F1F1F1;
    font-family: 'Roboto',serif;
}

.container {
    padding: 0 2rem;
}

.header-title {
    padding: 11px auto;
    text-align: center;
    background: #d8bf95;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
}

header nav {
    padding: 25px 0 25px 35px;
    display: grid;
    grid-template-columns: 20% 22% 25% 31%;
    justify-content: space-between;
    align-items: center;
    background: #F1F1F1;

}

header nav a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.first_lng {
    margin: 0 5px 0 20px;
    color: #C4C4C4;
    text-transform: none;
}

.second_lng {
    text-transform: none;
}

.price {
    margin-left: 75px;
}

.second_part {
    display: grid;
    grid-template-columns: 33% 67%;
}

.main-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-block img {
    width: 100%;
}

.info-block {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 100px 0;
}

.info-block h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
}

.subtitle {
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.subtitle-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrivals-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.slider {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 500px;
    justify-content: flex-end;
}

.slide-1 {
    background-image: url('../assets//png/Rectangle\ \(1\).png');
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.slide-2 {
    background-image: url('../assets//png/Rectangle\ \(3\).png');
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.slide-3 {
    background-image: url('../assets//png/Rectangle\ \(4\).png');
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.btn {
    border: none;
    margin-left: 200px;
}

.t-shirt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.t-shirt img {
    width: 100%;
    height: 100%;
}

.block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shirt {
    width: 100% !important;
}

.block h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 60px;
}

.block p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: -80px;
    margin-left: 20px;
}

/* .support{
    margin-top: 120px;
} */

.slider-2 h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

.sliders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 50px;
}

.sliders .slide {
    display: flex;
    justify-content: center;
}

.sliders .slide img {
    width: 90%;
}

.books {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.books img {
    width: 100%;
}

.info-block-2 h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 60px;
    margin: 127px 0 84px 0;
    width: 50%;
}

.cards{
    display: flex;
    
}

.cards p{
    margin-top: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.more{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 55px;
}

.ring{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.ring img{
    width: 650px;
}
.ring p{
    margin-top: -130px;
}
.ring-2{
        width: 100% !important;
}

.block-3{
    background-image: url('../assets/png/footer-bg.png');
    background-repeat: no-repeat;
    margin-top: 100px;
    height: 609px;
}
.block-3-content{
    color: white;
}
.block-3-content nav{
    padding: 85px 0 0 0;
}
.block-3-content a{
    
    color:white;
    text-decoration: none;
    margin-right: 420px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    align-items: center;

}

.block-3-content :last-child{
    margin-right: 0;
}

.block-3-content h2{
    font-weight: 400;
    margin-top: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 60px;
}
.block-3-content p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 32px;
}

.right{
    margin-left: 400px;
    position: absolute;
    margin-top: 40px;
    margin-bottom: 38px;
}

.punktir{
    margin:58px 0 18px 0;
}

.footer-block {
    display: flex;
}

.footer-block-1 ul li{ 
    list-style-type : none;
}

.footer-block-2 ul{
    list-style-type : none;
}

.footer-block-1{
    display: flex;

}
.ul1 {
    margin:90px 142px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.ul1 :first-child{
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.ul2{
    margin:135px 365px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.ul3{
    margin:90px 92px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.ul3 :first-child{
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.ul4{
    margin: 90px 114px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.ul4 :first-child{
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.ul5{
    margin: 90px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.ul5 :first-child{
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
}

.footer-block-2{
    display: flex;
}

h3{
    margin-top: 88px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
}

.icon{
    margin: 31px 12px 0 0;
}

.first_lng1 {
    margin: 0 5px 0 138px;
    color: #C4C4C4;
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.second_lng2 {
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.second{
     display: flex;
     
     
    
}
.lng{
    margin-right: 500px;
    margin-top: -25px;
}

.grey{
    margin-right: 200px;
    margin-top: -25px;
}

.t p{
    color: grey;
}

.footer-block-4{
    display: flex;
    align-items: flex-end;
   
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

.anim{
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

